<form action="/controllerUpdate" name="form1" method="post">
    <input type="number" name="id" id="id" value={{id}}>
    <input type="text" name="name" id="name" placeholder="name" value={{name}}>
    <input type="number" name="age" id="age" value={{age}}>
    <button>Atualizar</button>
</form>